<h1>Firestore#index</h1>



<div id="products">
    <% @firestoredata.each do |data| %>
        <div>
            <%= link_to data["name"], "/firestore/users/#{data[:id]}" %>
        </div>
    <% end %>
<%= debug @firestoredata %>
