<h1>Memos List</h1>
<p><%= link_to "New Memo", firestore_new_path %></p>

<div id="memos">
  <% if @firestoredata.any? %>
    <table>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
      <% @firestoredata.each do |data| %>
        <tr>
          <td><%= data[:title] %></td>
          <td>
            <%= link_to "Show", firestore_show_path("memos", data[:id]) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>no memo</p>
  <% end %>
