<h1>User Details</h1>

<div class="user-details">
  <p>
    <strong>Name:</strong>
    <%= @firestoredata["name"] %>
  </p>
</div>

<div class="actions">
  <%= link_to "Back to List", firestoredata_index_path %>
</div>