<h1>Memo Details</h1>

<div>
  <p>
    <strong>Name:</strong>
    <%= @firestoredata[:name] %>
  </p>

  <p>
    <strong>Document ID:</strong>
    <%= @firestoredata[:id] %>
  </p>
</div>

<div>
  <%= link_to "Back to List", firestore_index_path %>
</div>