<h1>Memo Details</h1>

<div>
  <p>
    <strong>Name:</strong>
    <%= @firestoredata[:name] %>
  </p>

  <p>
    <strong>Document ID:</strong>
    <%= @firestoredata[:id] %>
  </p>
</div>

<div class="actions">
  <%= link_to "Back to List", firestore_index_path, class: "btn btn-secondary" %>
  <%= button_to "Delete Memo",
                firestore_destroy_path(collection: params[:collection], id: @firestoredata[:id]),
                method: :delete,
                class: "btn btn-danger",
                data: { confirm: "本当に削除しますか？" } %>
</div>