<h1>New product</h1>

<%# form_with %>
<div class="create_form">
  <%= form_with model: @product, local: true do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit "Create Product" %>
    </p>
  <% end %>
</div>